<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Flight</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(pagename='View Flight')"></nav>
<div th:each="flight, rowStat : ${flights}">
    <h3 th:style ="${rowStat.odd} ? 'color: #f0f0f2;' : 'color: #ffffff;'" th:text="'Flight Number : ' + ${flight.flightNumber}"></h3>
    <h3 th:text="'Origin : ' + ${flight.origin}"></h3>
    <h3 th:text="'Destination : ' + ${flight.destination}"></h3>
    <h3 th:text="'Time : ' + ${flight.time}"></h3>

    <h3 th:text="'Pilot : ' + ${flight.pilot.name}"></h3>
    <h3 th:text="'License Number : ' + ${flight.pilot.licenseNumber}"></h3><br>
</div>


</body>
</html>